{% set joinHosts = [] %}
{% for host, hostinfo in salt['mine.get']('*', 'network.interfaces').items() %}
{% set thisHost = hostinfo['eth1']['inet'][0]['address'] if hostinfo['eth1'].has_key('inet') else hostinfo['br0']['inet'][0]['address'] %}
{% if host_ip != thisHost %}
{% do joinHosts.append("\"" + hostinfo['eth1']['inet'][0]['address'] + "\"" if hostinfo['eth1'].has_key('inet') else hostinfo['br0']['inet'][0]['address'] + "\"") %}
{% endif %}
{% endfor %}
{
    {% if 'server' in grains['consul-mode'] %}
    "bootstrap_expect": 2,
    "server": true,
    {% endif %}
    "advertise": "{{ host_ip }}",
    "bind_addr": "{{ host_ip }}",
    "client_addr": "{{ host_ip }}",
    {% if joinHosts|length%}
    "start_join": [{{  joinHosts|join(', ') }}],
    {% endif %}
    "datacenter": "dc1",
    "ui_dir": "/home/consul/dist",
    "data_dir": "/var/consul",
    "encrypt": "{{ pillar['consul']['encrypt'] }}",
    "log_level": "INFO",
    "enable_syslog": true


}