------------------------------------------------------------------------------
{{ grains['fqdn'] }}

Roles: {% if grains['roles'] is defined %} {{ grains['roles'] }} {% endif %}

Docker: {{ grains['dockerVersion'] }}
{{ grains['consulVersion'] }}
------------------------------------------------------------------------------